.cards {
    padding: 40px 0;
}

.card {
    background-color: #212529; /* Alteração para a cor da barra de navegação */
    border: 2px solid  #fff34b; 
    border-radius: 15px; 
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 15px  #fff89c;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.card img {
    border-radius: 15px; 
    width: 120px;
    height: 120px; 
    object-fit: cover; 
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #fff; /* Alteração para texto branco */
}

.card p {
    margin: 8px 0;
    color: #f8f9fa; /* Alteração para texto branco */
    text-align: justify; 
}
