{
    padding: 40px 0;
}

.card {
    background-color: #ffffff; 
    border: 2px solid  #fff34b; 
    border-radius: 15px; 
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 15px  #fff89c;
    display: flex; /* Adicionado */
    align-items: center; /* Adicionado */
}

.card img {
    border-radius: 50%;
    max-width: 120px;
    height: 120px; 
    object-fit: cover; 
    margin-bottom: 15px;
}



.card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333333; /
}

.card p {
    margin: 8px 0;
    color: #3b3a3a;
}

