.sobre-gape {
    padding: 50px 10px; 
    background-color: #fff; 
}

.sobre-gape img {
    border-radius: 8px;
}

.sobre-gape h2 {
    color: #343a40;
    font-size: 2rem; 
    margin-bottom: 15px;
    text-align: justify; 
}

.sobre-gape p {
    color: #343a40;
    font-size: 1rem; 
    line-height: 1.6;
    text-align: justify;
}

.btn-amarelo {
    background-color: #fff34b;
    color: #343a40;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
}

section h3 {
    color: black;
}




