
.objetivos {
    margin: 40px; 
    padding: 10px 10px; 
    background-color: #fff34b;
    text-align: center;
}

.objetivo {
    background-color: #fff;
    padding: 20px; 
    margin-bottom: 15px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.objetivo .icone {
    font-size: 40px; 
    color: #1a7517;
    margin-bottom: 15px; 
}

.objetivo h2 {
    font-size: 22px; 
    color: #0a0a0a;
}

.objetivo p {
    color: #000000;
    text-align: justify;
}

@media (max-width: 768px) {
    .objetivo {
        margin-right: 0;
    }
    .objetivo h2 {
        font-size: 18px;
    }
    .objetivo p {
        font-size: 15px;
    }
    .img-fluid {
        width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}