.video-title {
    font-size: 24px;
    color: black;
    margin-top: 20px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-description {
    color: black;
    margin-top: 20px;
    border: 2px solid :#fff34b; 
    padding: 10px; 
    text-aling:justify;
    border-radius: 8px; 
}
.mb-4 {
    border: 2px solid :#fff34b;
    border-radius: 15px;
    padding: 15px;
    background-color: #ffffff;
}
