/* Estilos para a seção "Sobre o GAPE" */
.sobre-gape {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.sobre-gape img {
    border-radius: 8px;
}

.sobre-gape h2 {
    color: #343a40;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sobre-gape p {
    color: #6c757d;
    font-size: 1.2rem;
    line-height: 1.6;
}

.btn-amarelo {
    background-color: #fff34b;
    color: #343a40;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-amarelo:hover {
    background-color: #fff;;
}

.objetivos {
    margin: 30px;
    background-color: #fff34b;
    padding: 20px 0;
    text-align: center;
}

.objetivo {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.objetivo .icone {
    font-size: 40px;
    color: #1a7517;
    margin-bottom: 20px;
}

.objetivo h2 {
    font-size: 28px;
    color: #0a0a0a;
}

.objetivos h2{
    color:#000;
}
 div h2{
    color:#000;
 }

.objetivo p {
    color: #000000;
}

section h3{
    color: black;
}

.linha-do-tempo {
    background-color: #fff34b; 
    margin: 30px;
    padding: 20px 0;
    text-align: center;
}

.evento {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.evento img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.evento h3 {
    font-size: 24px;
    color: #000000;
}

.evento p {
    color: #000000;
}

@media (max-width: 768px) {
    .objetivo {
        margin-right: 0;
    }
    .objetivo h2 {
        font-size: 18px;
    }
    .objetivo p {
        font-size: 15px;
    }
    .img-fluid {
        width: 70%; /* ou outro valor desejado */
        height: auto;
        display: block;
        margin: 0 auto; /* Isso centralizará a imagem */
    }
}
